/*---------------------------------------------------------------
    Biscuit Leaderboard
--------------------------------------------------------------- */

.leaderboard-section {
    @include flexbox;
    @include justify-content(center);
    margin-bottom: 100px;

    > div {
        background: #fff;
        padding: 0;
        width: 100%;

        @include bp750 {
            padding: 30px;
            box-shadow: 0 0 20px #e8f0f3;
            width: auto;
        }
    }

    h1 {
        text-align: center;
        width: 100%;
        font-weight: 300;
        font-size: 3rem;
        margin-bottom: 25px;

        span {
            font-size: 1.4rem;
            display: block;
        }
    }

    tr {
        border-top: 1px solid #e8ebf2;
        transition: .3s;
        background: #fff;

        @include bp750 {
            border: 1px solid #e8ebf2;
        }
    }

    tbody tr:hover {
        @include bp750 {
            transform: scale(1.03);
            box-shadow: 0 2px 15px rgb(224, 228, 228);
        }
    }
}

.biscuit-leaderboard {
    width: 100%;

    @include bp750 {
        width: auto;
    }
}


/* Table Headers
---------------------------------- */
.orderby-text {
    padding: 15px 15px 5px;
    font-size: 1.2rem;
    text-align: center;
    display: block;
    text-transform: uppercase;

    @include bp750 {
        display: none;
    }
}
.bl-thead {
    tr {
        @include flexbox;
        width: 100%;
        margin-bottom: 20px;
        border: none;
        padding: 0 20px;
    
        @include bp750 {
            border: 1px solid #e8ebf2;
            display: table-row;
            margin-bottom: 0;
            padding: 0;
        }
    }

    th {
        background: darken($lightGrey,3%);
        transition: .3s;
        text-align: center;
        font-weight: 600;
        line-height: 1.3;
        display: inline-block;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include flex(1);
        padding: 20px 10px;
        border-right: 1px solid rgba(#000,.05);

        &:last-child {
            border: none;
        }

        &.order-active,
        &.order-active.order-active:hover {
            background: darken($lightGrey,6%);
        }
        
        @include bp600 {
            @include flex(auto);
        }

        @include bp750 {
            background: $lightGrey;
            display: table-cell;
            padding: 18px 25px;
            border: none;

            &.order-active,
            &.order-active.order-active:hover {
                background: darken($lightGrey,5%);
            }
        }

        @include bp1000 {
            text-align: left;
        }
    }

    th:not(:nth-of-type(-n+2)) {
        cursor: pointer;
    }

    th:not(:nth-of-type(-n+2)):hover {
        background: darken($lightGrey, 3%);
    }

    .th-num {
        display: none;
    
        @include bp750 {
            display: table-cell;
        }
    }
    
    .th-biscuits {
        display: none;
    
        @include bp750 {
            display: table-cell;
        }
    }
}


/* Table Body
---------------------------------- */
.bl-tbody {
    tr {
        @include flexbox;

        @include bp750 {
            display: table-row;
        }
    }

    td {
        width: auto;
        display: inline-block;
        padding: 15px 10px;
        text-align: center;
        @include flex(1);

        @include bp750 {
            display: table-cell;
            padding: 18px 25px;
        }

        @include bp1000 {
            text-align: left;
        }
    }

    .bl-num {
        display: none;
    
        @include bp375 {
            display: table-cell;
            background: #f9fcfd;
            padding: 18px 0px;
            text-align: center;
            color: #b7bfc1;
        }
    }

    .bl-biscuit {
        @include flex(5);
        padding: 15px 10px;
        line-height: 1.3;
        text-align: left;

        @include bp750 {
            padding: 18px 25px;
        }
    }
    
    .bl-brand {
        display: block;
        font-size: 1.5rem;
        line-height: 1.2;
        color: #a1acbc;
    }
    
    .bl-biscuit-name {
        font-size: 1.65rem;
        line-height: 1.2;
        font-weight: 600;
    }
    
    .bl-total {
        font-weight: 600;

        @include bp750 {
            font-size: 1.8rem;
        }
    }

    .bl-emoji {
        display: block;

        @include bp1000 {
            display: inline;
        }
    }
}