/*---------------------------------------------------------------
    Header
--------------------------------------------------------------- */

header {
    background: #fff;
    padding: 15px;
    height: 80px;
    text-align: center;

    @include bp750 {
        text-align: left;
    }
}

.site-logo {
    img {
        max-width: 130px;
    }
}