/*---------------------------------------------------------------
    Header
--------------------------------------------------------------- */

header {
    background: #fff;
    padding: 15px;
    height: 80px;
}

.site-logo {
    img {
        max-width: 130px;
    }
}