/*---------------------------------------------------------------
    Insta Modal
--------------------------------------------------------------- */

.insta-modal {
    position: fixed;
    top: 0;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    z-index: 100;
    background: rgba(#000,.8);
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    @include flexbox;

    @include bp600 {
        padding: 30px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    > div {
        width: 100%;
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
        padding: 10px;
        margin: auto;
    }

    .ins-post {
        width: 100%;
        max-width: 450px;
        background: #fff;
    }

    iframe {
        border-left: none !important;
        width: 100% !important;
        border-radius: 0 !important;
        margin: 0 !important;
    }

    .ins-review {
        width: 100%;
        max-width: 450px;
        background: #fff;
        padding: 15px;
        white-space: pre-wrap;

        &:first-line {
            font-weight: 600;
        }

        @include bp600 {
            padding: 30px;
        }
    }
}

.modal-close {
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-block;
    background: #fff;
    cursor: pointer;
    transition: .3s;
    z-index: 150;
    display: none;
    width: 100%;
    padding: 15px;
    background: #000;
    opacity: .88;

    @include bp600 {
        width: auto;
        top: 3px;
        right: 3px;
        bottom: auto;
        border-radius: 50%;
        border: 2px solid #fff;
        padding: 0;
        background: #fff;
        opacity: 1;

        &:hover {
            background: $orange;
            border-color: $orange;
        }
    }

    @include bp1200 {
        top: 20px;
        right: 20px;
    }

    &.active {
        display: block;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        @include bp600 {
            display: block;
        }
    }

    img {
        width: 30px;
        height: 30px;
        display: block;
        border-radius: 50%;
        border: 2px solid #fff;
        background: #fff;

        @include bp600 {
            width: 50px;
            height: 50px;
            border: none;
            background: transparent;
        }
    }

    span {
        font-size: 1.8rem;
        color: #fff;
        margin-left: 10px;

        @include bp600 {
            display: none;
        }
    }
}