/*---------------------------------------------------------------
    Insta Modal
--------------------------------------------------------------- */

.insta-modal {
    position: fixed;
    top: 0;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    z-index: 100;
    background: rgba(#000,.8);

    @include bp600 {
        padding: 30px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
        padding: 30px 10px 10px;
        -webkit-overflow-scrolling: touch;
    }

    .ins-post {
        width: 100%;
        max-width: 450px;
        background: #fff;
    }

    iframe {
        border-left: none !important;
        width: 100% !important;
        border-radius: 0 !important;
    }

    .ins-review {
        width: 100%;
        max-width: 450px;
        background: #fff;
        padding: 15px;
        white-space: pre-wrap;

        &:first-line {
            font-weight: 600;
        }

        @include bp600 {
            padding: 30px;
        }
    }
}

.modal-close {
    position: fixed;
    top: 3px;
    right: 3px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: .3s;
    z-index: 150;
    display: none;

    &.active {
        display: block;
    }

    @include bp600 {
        top: 10px;
        right: 10px;
    }

    @include bp1200 {
        top: 20px;
        right: 20px;
    }

    &:hover {
        background: $orange;
    }

    img {
        width: 50px;
        height: 50px;
        display: block;
    }
}